*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .containerClasse{
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
  }
  
  .containerClasse img{
    width: 30%;
  }
  
  .containerClasse p{
    padding: 20px;
    width: 70%;
  }