 
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Titillium Web", sans-serif;
    height: 100vh;
  }
  
  .progress {
    color: #f80;
    height: 1.5em;
    width: 50%;
    background-color: #ff6b6b;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  .progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    position: absolute;
    text-align: left;
    padding-left: 1vh;
    padding-top: 5px;
    color: white;
  }
  
  .progress .value {
    background-color: #f80808;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
  }
  
  button {
    padding: 5px 5px;

    border-radius: 5px;
    
    margin-left: 8px;
  }
  
  .button:hover {
    background-color: rgb(255, 81, 0);
    color: #fff;
  }